[Desktop Entry]
Encoding=UTF-8
Name=Link to InstallDrag to Install!Drag to your running Eclipse* workspace. *Requires Eclipse Marketplace Client
Type=Link
URL=http://marketplace.eclipse.org/marketplace-client-intro?mpc_install=1336
Icon=text-html
